<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Liste des articles ALPHA !</h1>
        
        <p><%= link_to "Créer un nouvel article", new_article_path %> </p>
        
        <%= render 'liste', obj: @articles %>
    </div>
</div>
