<div class="container center">
    <div class="jumbotron">
        <h1>Alpha Blog</h1>
        <p>Des articles de haute qualité pour les esprits les plus tenaces.</p>
        <p><%= link_to "Rejoins-nous !", signup_path, class: "btn btn-primary btn-lg" %></p>
    </div>
</div>